{%extends 'padre.html'%}
{%block bloque1%}
    {%load static%}
    <h2> Un poco sobre mi </h2>   
    <hr/>
    <ul>
        <li> Mi nombre: Jhon Rodriguez</li>
        <li> Nacionalidad: Venezolano</li>
        <li> Residencia: Cordoba Capital</li>
        <li> Profesion: Ingeniero Electronico</li>
        <li> En mis tiempos libres: Compartir con mis amigos</li>
        <li> Objetivo: Ser progamador</li>
    </ul>   

    <img width="600px" src="https://steemitimages.com/1280x0/https://pbs.twimg.com/media/CKoYnaMUYAAgAsz.png" alt="">   
{%endblock%}