{%extends 'padre.html'%}

{%block bloque1%}
<main>
    {%if movil_registro%}
    <h2> {{movil_registro}} se ha registrado correctamente</h2>
    {%elif movil%}
    <h2>Vehiculos Registrados</h2>
    
        <table class="table table-success table-striped"> 
            <thead class="table table-dark table-striped">
                <tr>
                    <th> Id</th>
                    <th> Patente</th>
                    <th> Marca</th>
                    <th> Modelo</th>
                    <th> Chofer asignado</th>
                    {%if request.user.is_authenticated%}
                    <th> </th>
                    <th> </th>
                    {%endif%}
                </tr>
            </thead>
            {%for i in movil%}
                <tbody>
                    <tr>
                        <td> {{i.id}} </td>
                        <td> {{i.patente}} </td>
                        <td>  {{i.marca }} </td>
                        <td>  {{i.modelo }} </td>
                        <td>  {{i.chofer_asignado}} </td>
                        {%if request.user.is_authenticated%}
                        <td> <a href="{% url 'eliminar_movil' i.id %}"> Eliminar </a> </td>
                        <td> <a href="{% url 'editar_movil' i.id %}"> Editar </a> </td>
                        {%endif%}
                    </tr>
                </tbody>
            {%endfor%}
        </table>
    {%elif movil_registro == false %}
        <h2>El Movil ingresado no existe!! </h2>   
    {%endif%}
    
    <button> 
        <a href="{% url 'cargar_movil' %}"> Add Movil</a>
    </button>
    <button>
        <a  href="{% url 'buscar_movil' %}"> Buscar Movil</a>
    </button>
</main>
{%endblock%}